
#accountContents {
    display: inline-block;
    width: 100%;
    height: 70%;
    padding: 30px;
    background-color: #607D8B;
}

h4 {
    margin: 0;
}

.column {
    width: 33.3%;
    float: left;
    text-align: center;
}

#consoleButtonWrap {
    display: inline-block;
    margin-top: 20px;
}

#accountAbout {
    width: 400px;
    height: 200px;
    max-height: 80%;
    margin-top: 20px;
    resize: vertical;
}

#right {
    text-align: center;
}

#passwordWrap {
    display: inline-block;
    text-align: left;
}

#passwordWrap > label {
    display: block;
    margin: 10px 0;
}

#accountPassError {
    display: none;
    text-align: center;
}

#accountSubmit {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #37474F;
    color: #ECEFF1;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
}

#editError {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #546E7A;
    border: 2px solid #263238;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ECEFF1;
}
