
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
    font-family: 'Roboto', "Trebuchet MS", Helvetica, sans-serif;
    color: #ECEFF1;
}

#headerTitle {
    color: #ECEFF1;
    font-size: 28px;
    font-family: 'Roboto Slab', "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    /* position */
    float: left;
    margin-top: 0;
    margin-left: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.h2Wrap {
    width: 100%;
    height: 100px;
    background-color: #78909C;
    border-bottom: 3px solid #263238;
}

.h2Wrap > h2 {
    line-height: 100px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

button:focus {
    outline: none;
}

.passwordMatch {
    color: #ECEFF1;
}

.passwordError {
    color: #990000;
}

/* Header */
header {
    background-image: url("../imgs/header_back.jpg");
    height: 120px;
    border-bottom: 5px solid #263238;
}

#loginBack {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 9;
}

#loginErrors {
    display: none;
    position: fixed;
    z-index: 10;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #546E7A;
    border: 2px solid #263238;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ECEFF1;
}

#loginBox {
    display: none;
    width: 500px;
    color: white;
    font-family: 'Roboto', "Trebuchet MS", Helvetica, sans-serif;
    background-color: #78909C;
    border: 3px solid #263238;
    padding: 10px 20px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.headerButton {
    /* button styling */
    border: 0;
    background: #607D8B;
    padding: 5px 12px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #ECEFF1;
    font-size: 17px;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    /* position */
    float: right;
    margin: 0 30px 0 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.headerButton:hover {
    background: #546E7A;
    color: #CFD8DC;
}

.headerButton:active {
    background: #455A64;
}

.headerButton.activePage {
    background: #ECEFF1;
    color: black;
}

#loginDivider {
    display: inline-block;
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: black;
    float: left;
}

#existUserForm > label, #newUserForm > label {
    display: inline-block;
    margin-top: 10px;
}

#existUserForm > input[type="submit"], #newUserForm > input[type="submit"] {
    margin-top: 15px;
}

#existingUser {
    display: inline-block;
    width: 45%;
    float: left;
}

#newUser {
    display: inline-block;
    width: 45%;
    float: right;
}

/* Footer */
footer {
    background-color: #37474F;
    height: 100px;
    border-top: 5px solid #263238;
    clear: both;
}

footer > * {
    color: #ECEFF1;
    font-size: 15px;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-65%);
}

#disclaimer {
    float: left;
    max-width: 300px;
    margin-left: 20%;
}

#redditLink {
    float: right;
    margin-right: 20%;
    text-decoration: none;
}

#redditLink > p {
    margin: 0;
}

#sherpaReddit {
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
}

/* Consoles */
.console {
    font-family: 'Roboto', "Trebuchet MS", Helvetica, sans-serif;
    border: 1px solid black;
    margin: 0;
    float: left;
    width: 90px;
    height: 70px;
    color: #ECEFF1;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#PS3 {
    background-color: #003087;
    border-top-left-radius: 10px;
}

#PS3:hover {
    background-color: #002569;
}

#X360 {
    background-color: #0A540A;
    border-top-right-radius: 10px;
}

#X360:hover {
    background-color: #0A450A;
}

#PS4 {
    background-color: #0072CE;
    border-bottom-left-radius: 10px;
    clear: left;
}

#PS4:hover {
    background-color: #0060AD;
}

#X1 {
    background-color: #107C10;
    border-bottom-right-radius: 10px;
}

#X1:hover {
    background-color: #0A6B0A;
}

/* Activity */
.activity {
    width: 110px;
    height: 70px;
    font-family: 'Roboto', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ECEFF1;
    background: #263238 no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#vog {
    background: url('../assets/bosses/sprites.jpg') 0 0;
}

#crota {
    background: url('../assets/bosses/sprites.jpg') -110px 0;
}

#prison {
    background: url('../assets/bosses/sprites.jpg') -220px 0;
}

#kingsFall {
    background: url('../assets/bosses/sprites.jpg') -330px 0;
}

.active {
    border: 2px solid white;
}

/* Date/Time */
.dateTime {
    text-align: center;
    background-color: #607D8B;
    padding: 8px 15px;
    border: 1px solid black;
    float: left;
    margin: 30px;
}

.dateTime > input {
    margin-top: 5px;
}

/* Events */
.eventWrap {
    display: inline-block;
    width: 90%;
    margin: 30px auto;
    color: #ECEFF1;
    text-decoration: none;
}

.event {
    display: inline-block;
    width: 100%;
    background-color: #455A64;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
}

.eventSherpa {
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 2px solid #37474F;
}

.eventSherpa > p {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 0;
    padding: 10px 0;
    transform: translateX(-50%);
}

.eventConsole {
    display: inline-block;
    float: left;
    width: 50%;
}

.consoleMini {
    display: inline-block;
    float: left;
    padding: 10px 7px 11px 7px;
    border-right: 1px solid #37474F;
    border-top-left-radius: 7px;
}

.eventX360 {
    background-color: #0A540A;
}

.eventX1 {
    background-color: #107C10;
}

.eventPS3 {
    background-color: #003087;
}

.eventPS4 {
    background-color: #0072CE;
}

.eventActivity {
    width: 50%;
    padding: 10px 0;
    float: left;
    clear: left;
    text-align: center;
    border-right: 1px solid #37474F;
    border-bottom: 2px solid #37474F;
}

.eventDateTime {
    width: 50%;
    padding: 10px 0;
    float: left;
    clear: right;
    text-align: center;
    border-left: 1px solid #37474F;
    border-bottom: 2px solid #37474F;
}

.eventOther {
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.eventOther > p {
    margin: 0;
    text-align: left;
    padding: 10px 15px;
}
