
#userEvents {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    background-color: #78909C;
    border-bottom: 5px solid #263238;
}

#viewContent {
    display: inline-block;
    text-align: center;
    width: 100%;
    min-height: 80%;
    background-color: #607D8B;
    padding: 30px;
}

.eventWrap {
    width: 33.3%;
    min-width: 350px;
    padding: 0 30px 30px 30px;
    float: left;
}
