
#viewContent {
    display: inline-block;
    text-align: center;
    width: 100%;
    min-height: 80%;
    background-color: #607D8B;
    padding: 30px;
}

.eventWrap {
    width: 33.3%;
    min-width: 350px;
    padding: 0 30px 30px 30px;
    float: left;
}

.event {
    width: 100%;
}

.eventOther {
    height: 100px;
}
